.logo {
    float: left;
    width: 126px;
}

div{
    display: block;
    
}
h2{
    color: white
    
}
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #FFF0AA;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}
.navwrapper{
    background-color: #00008B;
    
    
}