#footer{ 
    left: 40px;
    
    background-color: #0c2069;
    color: white;
    text-align: center;
    width: 1000px;
  height: 40px;
   bottom: 0;
 position: fixed; 
 
}

.less{
    margin: 50px;
    
}

#footertext{
    
    
}
   
