
/*--- body ---*/
body{

    font-family: initial;  
    margin:0;
    padding:0;
    height:100%;
    
  
}

/*----- index --------*/
.indexheading{
    
    vertical-align: central;
    text-align: center;
    padding-top: 125px;
}
.indextext{
    vertical-align: central;
    text-align: center;
    
    
}
.indeximagesidepersketiv img{
    height: 150px ;
    
  display: block;
  margin-left: auto;
    margin-right: 200px;
    float: right;
}


.indeximagefuglpersketiv img{
    float: left;
    height: 150px;
  display: block;
  margin-left: 200px;
    margin-right: auto;
    
}
/*---- customerpage ----*/

.customerpagepicture{
    float: right;
    margin-left: auto;
    margin-right: auto;
    padding-right: 100px;
}

.customerpageinfomationer{
    background-color: #f1eeee;
    
    padding-right: 15px;
    
    padding-left: 30px;
    margin-left: 45px;
    padding-bottom: 30px;
    text-align: left;
    vertical-align: central;
    float: left;
    border-style: none;
    
}

.cusomerpagetextinformationer{
    text-decoration:underline;
    word-spacing:10px;
}
.customerpageoverskrift{
     text-align: center;
    vertical-align: central;
    padding-right: 80px;
    
    
}
.customerpageahref{
    padding-left: auto;
    padding-right: 325px;
   padding-top: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align: central;
}



/*--- regstration ------- */

.Regstrationtext{
    float: top;  
}

.Regstrationmiddle{
    vertical-align: center;
    margin-left:auto; 
    margin-right:auto;

}

/*------ h1,h2,h3,h4 -------*/
h1,h2,h3,h4{
    margin: 0; 
    padding: 0;
}

/*-----  -------*/
.loginregister {
    float: left;
    padding-left: 50px;
    padding-right: 15px;

}
/*--- loginpage ---*/
.loginpagecenter{
    vertical-align: center;

    margin-left:auto; 
    margin-right:auto;

}

.middle{
    vertical-align: center;

    margin-left:auto; 
    margin-right:auto;

}

.modal {
    display: none;
    position: fixed;
    left: 0;

    width: 80%;
    top: 0;
    text-align: center;
    overflow: auto;


}

.modalone {
    display: none;
    position: fixed;
    left: 0;

    width: 80%;
    top: 0;
    text-align: center;
    overflow: auto;


}
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.modal-contentone {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.closeone {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeone:hover,
.closeone:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
