.img-responsive {
    display: block;
    max-width: 100%;
    height: 126px;
}

img {
    vertical-align: middle;
    border: 0;
}

.logo {
    float: left;
    width: 126px;
    margin-right: 10px;
}

.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}




.container-resposize-header {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: auto;

}




.topviews a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: inherit;
    font-size: 18px;
}

.topviews a:hover {
    background-color:  	#0000FF;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}
.navwrapper{
    background-color: #0c2069;
    width: 100%;
    display: block;
    float: left;
    top: 0;

}

header nav .nav_wrapper .nav {
    float: left;
    width: 1014px;
}

header nav .navwrapper {
    background-color: #0c2069;
    width: 100%;
    display: block;
    float: left;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
    
}

header nav .mainnavigation {
    border-top: solid 1px #0085a2;
    margin-left: 15px;
    margin-right: 15px;
}

.element {

    width: 100%;
    height: auto;
    vertical-align: bottom;
}

